#container .contact-info, #container .location {
    font-size: 25px;
    background-color: #9e5b1c;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 36px;
}
#container p span {
    font-weight: bold;
}
#container p img {
    height: 35px;
    width: auto;
    vertical-align: middle;
}