.content > *, .contact-info p {
    margin: 0 0;
}
.contact-info, .location {
    background-color: #9e5b1c;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 36px;
}
.content h1 {
    font-size: 50px;
    margin-bottom: 24px;
}
.content p {
    font-size: 25px;
    display: block;
}
.content p span {
    font-weight: bold;
}
.content p img {
    height: 35px;
    width: auto;
    vertical-align: middle;
}
.content h2 {
    font-size: 37px;
    margin-bottom: 24px;
}