.contact-info p {
    margin: 0 0;
}
.contact-info, .location {
    background-color: #9e5b1c;
    padding: 20px 20px;
    border-radius: 25px;
    margin-bottom: 36px;
}
.content p span {
    font-weight: bold;
}
.content p img {
    height: 35px;
    width: auto;
    vertical-align: middle;
}